/* css for icons and and their overlays 
/images/overlay_add.png
/images/overlay_back.png
/images/overlay_delete.png
/images/overlay_down.png
/images/overlay_error.png
/images/overlay_globe.png
/images/overlay_info.png
/images/overlay_key.png
/images/overlay_locked.png
/images/overlay_push.png
/images/overlays.xcf
/images/overlay_settings.png
/images/overlay_unlocked.png
/images/overlay_up.png
/images/overlay_x.png
*/
.iconset {
	position:relative;
	float:left;
	display:inline-block;
	clear:both;
	src:url(images/artbox32.png);
	padding:0.1em;
	background:no-repeat;
}
.icon_large,.icon_overlay {
	position:absolute;
	height:1em;
	width:1em;
	margin:auto;
	clear:both;
}

.buttonbar {
float:left;
position:relative;
padding-left:0em;
left:-0.15em;
top:-0.2em;
}
.buttonbar a {
	float:left;
	margin:0.1em;
	padding:0.1em;
	opacity:0.5;
}
.buttonbar a:hover{
	opacity:0.7;
} 
.buttonbar a:active, .buttonbar a:focus:hover{
	opacity:1;
} 

/*
img.icon_overlay {
	position:absolute;
	content:url(attr(data-type));
}
.iconset {
background:
   attr(data-main) no-repeat, 
   attr(data-over) no-repeat; 
}*/

/* File Extensions*/
ol li a.ext_3gp { background: url(images/film.png) left 0.3em no-repeat; }
ol li a.ext_afp { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_afpa { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_asp { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_aspx { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_avi { background: url(images/film.png) left 0.3em no-repeat; }
ol li a.ext_bat { background: url(images/application.png) left 0.3em no-repeat; }
ol li a.ext_bmp { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_c { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_cfm { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_cgi { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_com { background: url(images/application.png) left 0.3em no-repeat; }
ol li a.ext_cpp { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_css { background: url(images/css.png) left 0.3em no-repeat; }
ol li a.ext_doc { background: url(images/doc.png) left 0.3em no-repeat; }
ol li a.ext_exe { background: url(images/application.png) left 0.3em no-repeat; }
ol li a.ext_gif { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_fla { background: url(images/flash.png) left 0.3em no-repeat; }
ol li a.ext_h { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_htm { background: url(images/html.png) left 0.3em no-repeat; }
ol li a.ext_html { background: url(images/html.png) left 0.3em no-repeat; }
ol li a.ext_jar { background: url(images/java.png) left 0.3em no-repeat; }
ol li a.ext_jpg { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_jpeg { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_js { background: url(images/script.png) left 0.3em no-repeat; }
ol li a.ext_lasso { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_log { background: url(images/txt.png) left 0.3em no-repeat; }
ol li a.ext_m4p { background: url(images/music.png) left 0.3em no-repeat; }
ol li a.ext_mov, ol li a.ext_MOV { background: url(images/film.png) left 0.3em no-repeat; }
ol li a.ext_mp3 { background: url(images/music.png) left 0.3em no-repeat; }
ol li a.ext_mp4, ol li a.ext_MP4 { background: url(images/film.png) left 0.3em no-repeat; }
ol li a.ext_mpg { background: url(images/film.png) left 0.3em no-repeat; }
ol li a.ext_mpeg { background: url(images/film.png) left 0.3em no-repeat; }
ol li a.ext_ogg { background: url(images/music.png) left 0.3em no-repeat; }
ol li a.ext_pcx { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_pdf { background: url(images/pdf.png) left 0.3em no-repeat; }
ol li a.ext_php { background: url(images/php.png) left 0.3em no-repeat; }
ol li a.ext_png { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_ppt { background: url(images/ppt.png) left 0.3em no-repeat; }
ol li a.ext_psd { background: url(images/psd.png) left 0.3em no-repeat; }
ol li a.ext_pl { background: url(images/script.png) left 0.3em no-repeat; }
ol li a.ext_py { background: url(images/script.png) left 0.3em no-repeat; }
ol li a.ext_rb { background: url(images/ruby.png) left 0.3em no-repeat; }
ol li a.ext_rbx { background: url(images/ruby.png) left 0.3em no-repeat; }
ol li a.ext_rhtml { background: url(images/ruby.png) left 0.3em no-repeat; }
ol li a.ext_rpm { background: url(images/linux.png) left 0.3em no-repeat; }
ol li a.ext_ruby { background: url(images/ruby.png) left 0.3em no-repeat; }
ol li a.ext_sql { background: url(images/db.png) left 0.3em no-repeat; }
ol li a.ext_swf { background: url(images/flash.png) left 0.3em no-repeat; }
ol li a.ext_tif { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_tiff { background: url(images/picture.png) left 0.3em no-repeat; }
ol li a.ext_txt { background: url(images/txt.png) left 0.3em no-repeat; }
ol li a.ext_vb { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_wav { background: url(images/music.png) left 0.3em no-repeat; }
ol li a.ext_wmv { background: url(images/film.png) left 0.3em no-repeat; }
ol li a.ext_xls { background: url(images/xls.png) left 0.3em no-repeat; }
ol li a.ext_xml { background: url(images/code.png) left 0.3em no-repeat; }
ol li a.ext_zip { background: url(images/zip.png) left 0.3em no-repeat; }
ol li a.file {padding-left:1.5em;}