

body {
margin-top: 40px;
bottom:0px;
top:40px;
background:#ddddde;
}
a:active;a:hover{
text-decoration: none;
outline:none
}
#boundingFrame {
position:absolute;
top:100px;
left:30px;
right:30px;
bottom:30px;

}
ul.nav{
font-size: 1em;
line-height: 1.3em;
margin-top:0.4em !important;
margin-right:-1em !important;
}
textarea#box1{
font-size:1em;
margin-bottom:1em;
height:1.1em;
overflow:hidden;
max-width:12em;
min-width:12em;
width:12em;
resize: none;
text-align:left;
}

textarea {

}
textarea:hover{
background:rgba(0,0,255,1);

}

#Volltext {
background:#eee !important;
max-height:220px !important;
min-height:220px !important;
overflow-y:auto;
border-radius: 0.5em;
}
#Volltext * {
background:#eee !important;
}


a.title {
color:#a7a7a7 !important;
text-shadow: 1px -1px 2px #ccc, 
-1px -1px 2px #fff, 
1px 1px 2px #000, 
-1px 1px 2px #333;
position:relative;
top:2px;
letter-spacing: 0.1em
}

img.user-avatar {
height:30px !important;
border:2px solid #eef;
padding:0 !important;
margin:0 !important;
position:relative;
top:0px;
right:0.8em;
}

img.title {
position:relative !important;
top:-7px;
left:-5px;
opacity:1;
clear:both !important;
display:inline-table !important;
height:2.8em;
}

img.title:hover {
opacity:1;
}
.divider-vertical {
border-left-color:#333 !important;
border-right-color:#000 !important;
margin-top:0.3em !important;
height:2em !important;
}


ul.nav>li:hover{
color: rgba(255,255,255,0.8)!important;
}
.trim {

display:inline-table !important;

}

#userholder, #loginlink {
position:fixed !important;
top:0em !important;
right:1em !important;
margin:0 !important;
padding:0 !important;
}

ul.nav li.dropdown.open > a {
background:rgba(80,80,80,0.5) !important;
}




/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


.hidden {
display:none;
}

i {
opacity:0.8;
}
i:hover {
opacity:1;
}

div.front.card.cardRoundedTop img.img-circle {
left:20px !important;
}


.dropdown-menu {
background:#d4dce0 !important;
border-radius: 0.5em;
padding:0.5em;
color:#333 !important;
}

a:hover {
text-decoration:none;
}
.hideAuthInput {
color:#eeeeee !important;
font-weight:100 !important;
}


.accordion-inner {
background:#a8bfca;
}
.accordion-toggle {
font-size:1.2em;	
cursor:default !important;
color:#334!important;
font-weight:500;
border:1px solid transparent;
}
.accordion-toggle:hover{
color:#bbb;
}
.accordion-group{
border:0 !important;
padding:0 !important;
}

.div {
position:inherit !important;
}
.nav-header{
cursor:default !important;	
font-size:1.2em;
color:#999;
font-weight:100;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
}

.carousel .container {
text-shadow: 0 2px 2px rgba(255,255,255,.4);
position: relative;
z-index: 9;
}

.carousel-control {
height: 2em;
width: 2em;
margin-top: 0;
font-size: 5em;
text-shadow: 5px 5px 5px rgba(0,0,0,.8);
background-color: rgba(0,0,0,.8);
border: 0;
z-index: 10;
box-shadow: 5px 5px 5px rgba(0,0,0,.8);
text-align:center;
}

.carousel .item {
height: 500px;
}
.carousel img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
height: 500px;
}

.carousel-caption {
background-color: transparent;
position: static;
max-width: 550px;
padding: 0 20px;
margin-top: 200px;
box-shadow: 5px 5px 5px rgba(0,0,0,.8);

}
.carousel-caption h1,
.carousel-caption .lead {
margin: 0;
line-height: 1.25;
color: #fff;
text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
margin-top: 10px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
text-align: center;
}
.marketing h2 {
font-weight: normal;
}
.marketing .span4 p {
margin-left: 10px;
margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amountUSB of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
margin-right: 40px;
}
.featurette-image.pull-right {
margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
font-size: 50px;
font-weight: 300;
line-height: 1;
letter-spacing: -1px;
}



ol li:nth-child(2n), tr td:nth-child(2n) {
background:rgba(0,0,0,0.05);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

#modal,body {
background-image: #d4dfe5 !important;
background-image: -webkit-linear-gradient(left, #a8bfca 8%, rgba(255,255,255,0.2) 100%) !important;
background-image: -moz-linear-gradient(left, #a8bfca 8%, rgba(255,255,255,0.2) 100%) !important;
background-image: -o-linear-gradient(left, #a8bfca 8%, rgba(255,255,255,0.2) 100%) !important;
background-image: -ms-linear-gradient(left, #a8bfca 8%, rgba(255,255,255,0.2) 100%) !important;
background-image: linear-gradient(left, #a8bfca 8%, rgba(255,255,255,0.2) 100%) !important;
background-image: -webkit-gradient(linear, left top, right top, color-stop(0.08, #a8bfca), color-stop(1, rgba(255,255,255,0.2))) !important;
}
.modalLoading {
background-image: url('/images/animated-overlay3.gif') !important;
width:90%;
height:90%;
margin:auto;
opacity:.6;
border-radius:0.5em;
border:0.5em solid #000;
}
.modalLoading p{
border-radius:0.5em;
color:#c0ffee !important;
opacity:2 !important;
width:100%;
margin:auto;
font-weight: 900 !important;
text-align:center !important;
font-size:1.7em !important;
padding:0.9em 0;
text-shadow:4px 4px 15px #00f, -4px -4px 15px #00f, 4px -4px 15px #00f, -4px 4px 15px #00f;
}
.fullsizeModal {
width:98% !important;
height:98% !important;
margin:0 !important;
padding:0 !important;
position:fixed;
top:1em !important;
bottom:1em !important;
left:1%;
}
.fullsizeModalBody {
height:90% !important;
max-height:90% !important;
margin:0 0 0 0 !important;
position:relative;
top:0em !important;
left:0px;
right:0px;
}

.modal-body {
}

#fileTree {
background:#e4e4e5;
}
.accordion-toggle {
margin-top:none;
border-bottom:2px solid rgba(0,0,0,0.2);
cursor:pointer;
}

.accordion-inner {
border:none;
}
.accordion-group, .accordion-heading, .accordion-inner{margin:0;}
.accordion-inner {
border-bottom:2px solid rgba(255,255,255,0.6);
border-right:2px solid rgba(255,255,255,0.6);
height:100%;
}
.accordion {

}
.navbar-inner {
height:3.2em !important;
background-image: #d4dfe5;
background-image: -webkit-linear-gradient(bottom, rgba(168,191,202,0.39) 0%, #ffffff 100%);
background-image: -moz-linear-gradient(bottom, rgba(168,191,202,0.39) 0%, #ffffff 100%);
background-image: -o-linear-gradient(bottom, rgba(168,191,202,0.39) 0%, #ffffff 100%);
background-image: -ms-linear-gradient(bottom, rgba(168,191,202,0.39) 0%, #ffffff 100%);
background-image: linear-gradient(bottom, rgba(168,191,202,0.39) 0%, #ffffff 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(168,191,202,0.39)), color-stop(1, #ffffff));
margin-right:1em;
border-bottom-right-radius: 1em !important;
}

footer {
position:fixed;
opacity:1;
bottom:0px;
left:0px;
right:0px;
max-width:100%;
min-width:100%;
width:100%;
margin:0!important;
height:2em !important;

}

footer p{
text-align:right;
padding:0.1em 2em 0 0;
color:#eee;
}
.well {
background:rgba(255,255,255,0.1);
position:relative;
top:1em;
border:0;
}
.label.playlist {
padding-top:0.1em;
opacity:0.5;
position:relative;
top:0.05em;
right:-0.3em;
}


ul.stopper li{
width:8em;
text-align:left;
}
.dropdown-menu {
cursor: pointer;
width:8em;
margin-top:-2em;
margin-left:0em;
}
.dropdown-menu.stopper{
margin-top:-1.5em;
margin-left:-2em;
z-index:100;
width:8em;
min-width: 8em !important;
}
.dropdown .stopper ul{

}


.dropdown-toggle {
cursor: pointer; 
}
input.timePick, input{
width:100% !important;
background:transparent !important;
border:0;
outline:0;
font-size:0.95em;
cursor: pointer;
color:#000;
text-align: center
}
input.check{
text-align:left;
width:inherit !important;
}
input.timePick:hover{
}
.time, .time span,{
font-size: 1rem !important;
text-shadow:1px 1px 1px rgba(0,0,0,0.8), 1px -1px 1px rgba(0,0,0,0.8),-1px 1px 1px rgba(0,0,0,0.8),-1px -1px 1px rgba(0,0,0,0.8) !important;
font-family:"Lucida Console", Monaco, monospace !important;
white-space: pre !important;
word-break: normal !important;
word-wrap: normal !important;
}
.terminalResponse{
white-space: pre !important;
word-break: normal !important;
word-wrap: normal !important;  
}


.accordion-inner.console {


}
.accordion-header {
cursor: pointer;
}

a.scheduler.minicon{
position:absolute;
left:1em;
margin-left:1em;
opacity:.5;
}
a.scheduler.minicon:hover{
opacity:.75;
}

.dwwr, .dwbg, .dw{
background-image: #d4dfe5!important;
background-image: -webkit-linear-gradient(top, rgba(168,191,202,0.39) 0%, #ffffff 100%)!important;
background-image: -moz-linear-gradient(top, rgba(168,191,202,0.39) 0%, #ffffff 100%)!important;
background-image: -o-linear-gradient(top, rgba(168,191,202,0.39) 0%, #ffffff 100%)!important;
background-image: -ms-linear-gradient(top, rgba(168,191,202,0.39) 0%, #ffffff 100%)!important;
background-image: linear-gradient(top, rgba(168,191,202,0.39) 0%, #ffffff 100%)!important;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(168,191,202,0.39)), color-stop(1, #ffffff))!important;
}
.dwb {
background:rgba(51, 51, 51,.8) !important;
background-image:rgba(51, 51, 51,.8) !important;
background-color:rgba(51, 51, 51,.8) !important;
color:#BDF !important;
font-size:1.25em !important;
opacity:0.7;
}
.dwb:hover {
opacity:1;  
}
.dwv {
font-size:1.5em !important;
border:none !important;
font-weight: 800;
}
.dwcc {
border-top: 5px dotted rgba(0,0,0,0.5) !important;
}
.messages {
display:none;
}

#terminal {
border:0 !important;
border-color:none !important;
outline:none !important;
background:none !important;
box-shadow: none !important;
-webkit-box-shadow:none !important;
-moz-box-shadow:none !important;
text-align:left;
display:inline-table !important;
/*width:50% !important;*/
margin-top: 0.5em;
clear:both;
text-shadow:1px 1px 1px rgba(0,0,0,0.8), 1px -1px 1px rgba(0,0,0,0.8),-1px 1px 1px rgba(0,0,0,0.8),-1px -1px 1px rgba(0,0,0,0.8) !important;
font-family:"Lucida Console", Monaco, monospace !important;
}
.terminalResponse{
font-size:0.8rem !important;
margin-top:1em;
display:block;
font-family:"Lucida Console", Monaco, monospace !important;
overflow-y:auto;
}

.terminalButton img{
margin-top:-.5em;
}
.terminalButton img:hover {
opacity:0.7;
box-shadow: -2px -2px 5px rgba(120,200,255,0.6),2px 2px 5px rgba(120,200,255,0.6),-2px 2px 5px rgba(120,200,255,0.6),2px -2px 5px rgba(120,200,255,0.6);
background:rgba(120,200,255,0.6);
}
.terminalButton img:active {
opacity:1;
box-shadow: -2px -2px 5px rgba(120,200,255,0.8),2px 2px 5px rgba(120,200,255,0.8),-2px 2px 5px rgba(120,200,255,0.8),2px -2px 5px rgba(120,200,255,0.8);
background:rgba(120,200,255,0.6);

}

input#terminal{

overflow:default;
padding:0.5em;
max-width:98%;
}
#newPassword {
border:0 !important;
border-color:none !important;
outline:none !important;
background:none !important;
box-shadow: none !important;
-webkit-box-shadow:none !important;
-moz-box-shadow:none !important;
max-width:84% !important;
text-align:left;
padding-left:1.4em;
text-shadow: 1px 1px 3px rgba(0,0,0,0.4),-1px -1px 3px rgba(255,255,255,0.8);
color:#333;
border-radius:0 !important;
}
#newPassword:hover {
color:#fff;
background: #0081c2 !important; 
}

input#terminal:hover, input#terminal:focus, input#newPassword:focus {
background:rgba(0,0,0,0.3) !important;
}  
#timeNow .coffee.time span{
margin-left: -.5em !important;
margin-bottom:-1em !important;
padding:0 !important;
font-size:0.9em !important;
left:0px !important;
position:relative;
}
.consoleButtons .dropdown-menu{
margin-top:.5em;
margin-left:0em;
}

.dropdown-menu{
border-top-left-radius: 0;
border-top-right-radius: 0;  
}